@import url("https://fonts.googleapis.com/css?family=Baloo|Roboto");

body {
  background-image: url("images/NARA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  background-attachment: fixed;
}

footer {
  margin: 20px;
  margin-bottom: 5px;
  color: lightblue;
  background-color: black;
  display: inline-block;
  font-weight: lighter;
  padding: 2px 5px;
  float: right;
}

a {
  color: orangered;
}

.header {
  font-family: "Baloo", cursive;
  font-size: 70px;
  display: inline-block;
  width: 100%;
  margin-bottom: -20px;
  position: relative;
  color: orangered;
}

.name-header {
  color: rgba(197, 239, 230, 0.7);
  margin-top: 80px;
  text-align: center;
}
.name-header::after {
  content: "Mary Beth Kery";
  color: white;
  opacity: 0.8;
  position: absolute;
  top: -1px;
  z-index: 1;
  font-size: 70px;
  width: 100%;
  left: -2px;
}

.name-subtitle {
  font-size: 16px;
  color: lightgoldenrodyellow;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: black;
  display: inline-block;
  padding: 2px 5px;
}

.row {
  background-color: rgba(245, 245, 245, 0.9);
  margin: auto;
  margin-top: 1.5em;
  display: flex;
  text-align: left;
}

.row-left {
  min-width: 12em;
  max-width: 12em;
  padding: 10px;
  padding-bottom: 1em;
}

.row-right {
  background-color: white;
  display: inline-block;
  min-height: 100px;
  flex: 1 1 auto;
  float: right;
  padding: 10px;
  padding-bottom: 1em;
}

.Bio-row {
  width: 80%;
  margin-top: 4em;
}

.Bio-image {
  background-image: url("./images/mbPortrait2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
  margin-bottom: 10px;
}

.Bio-contact {
  text-transform: uppercase;
  line-height: 20pt;
  font-size: 10pt;
  color: black;
  padding-left: 5px;
}

.Bio-intro {
  font-size: 14pt;
  line-height: 20pt;
  color: #593536;
}

.project-header {
  text-align: left;
  margin-left: 10%;
  opacity: 0.8;
  top: 0.25em;
}
.project-header::after {
  content: "Projects";
  color: white;
  position: absolute;
  top: -1px;
  z-index: 1;
  font-size: 70px;
  width: 100%;
  left: -2px;
}

.paper {
  margin: 10px;
}

.paper-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.project-title {
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16pt;
  text-align: right;
}

.art-header {
  text-align: left;
  margin-left: 10%;
  opacity: 0.8;
  top: 0.25em;
}
.art-header::after {
  content: "Art & Stuff";
  color: white;
  position: absolute;
  top: -1px;
  z-index: 1;
  font-size: 70px;
  width: 100%;
  left: -2px;
}

.cube {
  background-color: rgba(245, 245, 245, 0.9);
  margin: 0.5em;
  margin-top: 1em;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  min-width: 25vw;
  max-width: 30vw;
}

.cubeContent {
  display: block;
  height: 25vw;
  width: 100%;
}

.cubeDesc {
  background-color: white;
  display: inline-block;
  min-height: 5vw;
  padding: 10px;
  padding-bottom: 1em;
}

.Portfolio {
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}

.artImage {
  padding: 5px;
  width: calc(100% - 10px);
  height: auto;
  flex-flow: wrap;
  justify-content: flex-start;
  vertical-align: top;
  max-height: 35vw;
  background-size: cover;
}

.githubcard {
  margin: 1.5em;
}

@media (max-width: 1200px) {
  .Portfolio {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 900px) {
  .Portfolio {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .cube {
    max-width: calc(50vw - 3em);
  }

  .artImage {
    max-height: none;
  }
}
@media (max-width: 700px) {
  .Portfolio {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .cube {
    max-width: 100%;
  }

  .artImage {
    max-height: none;
  }
}
